/* header */
.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header .inner-logo {
  font-size: 24px;
  font-weight: 700;
}
.header .inner-logo a {
  color: #fff;
}
/*end  header */

/* Body */
.body .sider {
  width: 150px;
  background: #323232;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
}

.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}
/* End Body */

/* sider */

.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}
[show-alert] [close-alert] {
  background: #ffff;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

/* End Show Alert */

/* Image Preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.image-preview[src=""] {
  display: none;
}
/* END Image Preview */

.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* end header */

.footer {
  background: #333;
  color: #ddd;
  text-align: center;
  padding: 10px;
}

/* end footer */

/* product-item */
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-content .inner-title {
  font-size: 20px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}

/* End product-item */

.card .card-body .table .btn {
  margin-right: 5px;
}
